@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

:root {
    --VesnaPosX: 26vw;
    --VesnaPosY: 34vh;
    --TogawaPosX: 26vw;
    --TogawaPosY: 34vh;
    --NordicPosX: 33vw;
    --NordicPosY: 34vh;
    --RusvietPosX: 40vw;
    --RusvietPosY: 34vh;
    --CrimeaPosX: 47vw;
    --CrimeaPosY: 34vh;
    --PolaniaPosX: 54vw;
    --PolaniaPosY: 34vh;
    --SaxonyPosX: 61vw;
    --SaxonyPosY: 34vh;
    --AlbionPosX: 68vw;
    --AlbionPosY: 34vh;
    --FenrisPosX: 68vw;
    --FenrisPosY: 34vh;

    --mainColor: rgb(196, 144, 144);
  }

.app {
    background-image: url("../../public/images/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    overflow: hidden;
}

body {
    margin: 0;
}

.header {
    height: 8vh;
    font-size: 2vh;
}

.options {
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8vh;
}

button {
  align-items: center;
  border: 0;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold",sans-serif;
  font-size: 2vh;
  font-weight: 600;
  height: 6vh;
  width: 6vh;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
    box-shadow: inset 0px 0px 0px 2px white, inset 0px 0px 0px 50px rgba(255, 255, 255, 0.5);
}

.selected {
    box-shadow: inset 0px 0px 0px 2px white, inset 0px 0px 0px 50px rgba(255, 255, 255, 0.5);
}

.notReady {
    box-shadow: inset 0px 0px 0px 2px white, inset 0px 0px 0px 50px rgba(255, 255, 255, 0.5);
    cursor: not-allowed;
}

/* Button colors */

.playersBtnDiv button{
    background: var(--mainColor);
    color: rgb(0, 0, 0);
    /* larger font size for numbers to be more visible */
    font-size: 2.2vh;
}

.invadersBtnDiv button{
    background: linear-gradient(
        45deg,
        rgb(45, 139, 42) 50%, 50%,
        rgb(99, 57, 185) 100%
    );
}

.riseBtnDiv button{
    background: linear-gradient(
        45deg,
        rgb(230, 126, 40) 50%, 50%,
        rgb(62, 211, 196) 100%
    )
}

.windBtnDiv button {
    background: var(--mainColor);
    color: rgb(0, 0, 0);
}

.banBtnDiv button {
    background: var(--mainColor);
    color: rgb(0, 0, 0);
}

.randomBtnDiv {
    margin-top: 3vw;
    height: 12vh;
    width: 29vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

#randomBtn {
    width: 20vw;
    font-size: 1.8vh;
    background-color: rgb(42, 42, 42);
}

#resetBtn {
    width: 8vw;
    font-size: 1.8vh;
    background-color: rgb(42, 42, 42);
}

.alert {
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 8px;
}

.playerSubDiv {
    margin-right: 5px;
    margin-left: 5px;
}

.playerSubDiv p {
    height: 2.4vh;
}

.playerSubDiv button {
    margin-right: 5px;
}

.playerSubDiv div {
    display: flex;
}

.optionSubDiv {
    margin-right: 5px;
    margin-left: 5px;
}

.optionSubDiv p {
    height: 2.4vh;
}

.optionSubDiv button {
    margin-right: 5px;
}

.optionSubDiv div {
    display: flex;
}

#emblems img {
    height: 6vh;
    width: 6vh;
    left: auto;
    top: 0px;
    opacity: 1;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg)
    }
    to {
        transform: rotateY(360deg)
    }
  }

.rotate img {
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: top 2s, left 2s, opacity 1s;
}

/* Moving the emblems */

    #moveVesna {
        position: absolute !important;
        left: var(--VesnaPosX) !important;
        top: var(--VesnaPosY) !important;
        z-index: 1;
    }

    #moveTogawa {
        position: absolute !important;
        left: var(--TogawaPosX) !important;
        top: var(--TogawaPosY) !important;
        z-index: 0.5;
    }

    #moveNordic {
        position: absolute !important;
        left: var(--NordicPosX) !important;
        top: var(--NordicPosY) !important;
    }

    #moveRusviet {
        position: absolute !important;
        left: var(--RusvietPosX) !important;
        top: var(--RusvietPosY) !important;
    }

    #moveCrimea {
        position: absolute !important;
        left: var(--CrimeaPosX) !important;
        top: var(--CrimeaPosY) !important;
    }

    #movePolania {
        position: absolute !important;
        left: var(--PolaniaPosX) !important;
        top: var(--PolaniaPosY) !important;
    }

    #moveSaxony {
        position: absolute !important;
        left: var(--SaxonyPosX) !important;
        top: var(--SaxonyPosY) !important;
    }

    #moveAlbion {
        position: absolute !important;
        left: var(--AlbionPosX) !important;
        top: var(--AlbionPosY) !important;
        z-index: 0.5;
    }

    #moveFenris {
        position: absolute !important;
        left: var(--FenrisPosX) !important;
        top: var(--FenrisPosY) !important;
        z-index: 1;
    }

.invisible {
    opacity: 0 !important;
    transition: opacity 1s !important;
}

.random {
    font-size: 1.9vw !important;
    display: flex;
    align-items: center;
    font-size: 2.6vh;
    height: 54vh;
    width: 100%;
}
  
.nationsAndBoards {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.nations {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 100%;
}

.nationDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 7vh;
}

.nationDiv p {
    display: flex;
    min-width: fit-content;
}

.boards div {
    display: flex;
    justify-content: flex-start;
    line-height: 4.2vh;
    max-height: 7vh;
}

#actual {
    opacity: 1;
    transition: opacity 2s;
}

#moreInfo {
    opacity: 1;
    transition: opacity 2s;
    background: var(--mainColor);
    color: rgb(0, 0, 0);
    border: 2px solid white;
    padding: 5px;
    padding-right: 20px;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#moreInfo div {
    margin: 0 2vh 0 2vh;
}

.footer {
    height: 11vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    font-weight: 300;
}

.contactLinks img {
    height: 3.5vh;
    width: 3.5vh;
    margin: 0 1vh 3vh 1vh;
}

.contactLinks img:hover {
    cursor: pointer;
}